* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    background: rgba(219, 223, 253, 1);
}

#titulo {
    text-align: center;
    font-size: 27px;
    margin: 2rem 15rem 1rem 15rem;
    border: 2px solid black;
    border-radius: 50px;
    padding: 1rem;
}

ul li {
    text-align: center;
    list-style: none;
    margin: 1rem 20rem;
}

button {
    background: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 50px;
}

button:hover {
    font-size: 18px;
    transition: 400ms;
}