* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    background: #06283D;
    color: #DFF6FF;
}

div h1 {
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 40px;
    text-decoration: underline;
}

div h2 {
    text-align: center;
    font-size: 28px;
    margin: 50px 0 0 0;
}

section {
    display: flex;
}

button {
    background: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    cursor: pointer;
    width: 450px;
    height: 80px;
    margin: 100px 0 0 0;
    text-transform: uppercase;
    border-radius: 50px;
    border-color: #47B5FF;
    color: #DFF6FF;
}

button:hover {
    font-size: 45px;
    transform: scale(1.03);
}

img {
    margin: 150px 0 0 200px;
}
